.without_ampm::-webkit-datetime-edit-ampm-field {
    display: none;
  }
  input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance:none;
    appearance: none;
    margin: -10px; 
  }
  .MuiTypography-body1 {
    font-size: '10px'
  }
  .paper {
 
    /* padding: theme.spacing(2, 4, 3), */
    margin: auto;
    width: '50%';
    box-shadow: 5;
}